.vu-alert_container {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 99;
    user-select: none;
    background-color: rgba($color: #000000, $alpha: 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10%;
    .alert-box {
        user-select: text;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        transition: all ease 0.3s;
        padding: 10px 15px;
        .title {
            margin: 0;
            font-size: 17px;
            position: relative;
            .close-icon{
                display: flex;
                width: 20px;
                height: 20px;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 0;
                top: 50%;
                transform: translateY(-50%);
                font-size: 20px;
                color: #E44258;
                cursor: pointer;
                user-select: none;
            }
        }
        .content{
            color: #606266;
            overflow: auto;
        }
        .content::-webkit-scrollbar {
            display: none;
        }
        .buttons{
            text-align: right;
            button{
                margin-left: 10px;
                padding: 7px 14px;
                font-size: 13px;
                border-radius: 4px;
                border: 1px solid #e4e7ed;
                background-color: white;
                cursor: pointer;
                transition: all linear 0.1s;
            }
            .error{
                background-color: #E44258;
                color: white;
            }
            .default:hover{
                background-color: rgba($color: #E44258, $alpha: 0.1);
                color: #E44258;
            }
            .error:hover{
                background-color: rgba($color: #E44258, $alpha: 0.8);
            }
            .enter{
                background-color: #409eff;
                color: white;
            }
            .enter:hover{
                background-color: rgba($color: #409eff, $alpha: 0.8);
            }
        }
    }
}

.vu-alert-show-enter-active,
.vu-alert-show-leave-active {
    transition: all 0.3s;
}
.vu-alert-show-enter,
.vu-alert-show-leave-to {
    opacity: 0;
    .alert-box {
        transform: rotateY(45deg) rotateX(45deg);
    }
}
