.vu-cascader_container {
    position: relative;
    height: 40px;
    width: 250px;
    input {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #e4e7ed;
        outline: none;
        border-radius: 4px;
        color: #606266;
        font-size: 14px;
        padding: 0 15px;
        transition: all ease 0.2s;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
    }
    input:focus {
        border: 1px solid #e44258;
    }
    .disable{
        background-color: #F5F7FA;
        cursor: no-drop;
    }
    .disable:focus{
        border: 1px solid #e4e7ed;
    }
    .arrow {
        position: absolute;
        color: #dcdfe6;
        font-weight: 600;
        font-family: fangsong;
        font-size: 13px;
        right: 0;
        top: 0;
        transform: rotateZ(90deg);
        height: 100%;
        width: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.3s;
        pointer-events: none;
    }
    .arrow.active {
        transform: rotateZ(270deg);
    }

    .clear-icon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #606266;
        cursor: pointer;
        user-select: none;
        font-family: fangsong;
        font-weight: 600;
        font-size: 12px;
    }

    .menu {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 99;
        margin: 5px 0;
        display: flex;
        align-items: flex-start;
        .menu-panel {
            width: 180px;
            box-shadow: 0 0 1px rgba($color: #000000, $alpha: 0.4);
            overflow: auto;
            border-radius: 2px;
            background-color: white;
            margin-right: 5px;
            .menu-item {
                position: relative;
                box-sizing: border-box;
                margin: 0;
                padding: 8px 0;
                text-align: left;
                padding-left: 15px;
                font-size: 14px;
                width: 100%;
                color: #606266;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: all ease 0.1s;
                cursor: pointer;
            }
            .menu-item.active{
                background-color: #E44258 !important;
                color: white !important;
            }
            .menu-item.active .arrow{
                color: white;
            }
            .menu-item:hover {
                background-color: #F5F7FA;
            }
        }
        .menu-panel::-webkit-scrollbar {
            width: 6px;
        }
        .menu-panel::-webkit-scrollbar-thumb {
            background-color: rgba($color: #E44258, $alpha: 0.8);
            -webkit-border-radius: 100px;
            -moz-border-radius: 100px;
            border-radius: 100px;
        }
    }
    
}
