.l-checkbox-group_container{
    display: inline-block;
    overflow: auto;
    width: 100%;
    .grid{
        width: 100%;
        height: 100%;
        display: grid;
        justify-items: center;
        align-items: center;
        overflow: auto;
        .l-checkbox_container{
            display: inline-block;
            cursor: pointer;
            .flex{
                display: flex;
                align-items: center;
                height: 100%;
                .input{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: auto;
                    border-radius: 3px;
                    background-color: white;
                    margin-right: 5px;
                    border: 1px solid #e4e7ed;
                    box-sizing: border-box;
                    color: white;
                    user-select: none;
                    transition: all ease 0.3s;
                }
                .text{
                    color: #606266;
                    transition: all ease 0.3s;
                }
            }
        }
    }
}