.vu-crud_container{
    padding: 10px;
    overflow: hidden;
    .search-col{
        display: flex;
        align-items: center;
        .search-col-text{
            display: flex;
            justify-content: center;
            align-items: center;
            color: #606266;
            margin-right: 10px;
            font-size: 16px;
            max-width: 105px;
        }
        .search-col-input{
            flex: 1;
        }
    }
    .menu{
        .buttons{
            display: flex;
            column-gap: 10px;
            padding: 10px 0;
            align-items: center;
        }
        .switchs{
            display: flex;
            column-gap: 50px;
            padding: 10px 0;
            align-items: center;
            position: relative;
            .reload{
                position: absolute;
                right: 20px;
                top: 50%;
                transform: translateY(-50%);
                width: 28px;
                height: 28px;
                background-image: url(../image/reload.png);
                color: #E44258;
                border-radius: 50%;
                border: 1px solid #E44258;
                background-size: 70%;
                background-repeat: no-repeat;
                background-position: 50%;
                box-sizing: border-box;
                transition: all linear 0.1s;
                cursor: pointer;
            }
            .reload:hover{
                background-color: #ffe4e4;
            }
        }
    }

    .dialog{
        .content{
            padding: 0;
            .must{
                color: #E44258;
                font-size: 18px;
            }
        }
    }

    .pagination{
        padding:  10px 0;
    }
}