.vu-image-light_container{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.3);
    z-index: 99;
    cursor: pointer;
    .imgBox{
        width: 100%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}