.vu-row_container{
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    justify-items: right;
    margin: 5px 0;
    grid-auto-rows: 0;
    grid-template-rows: auto;
    overflow: hidden;
}