.loading{
    position: relative;
}
.loading::before{
    content: "";
    display: block;
    background-color: #DCDFE6;
    position: absolute;
    opacity: 0.5;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 99;
}
.loading::after{
    position: absolute;
    content: "";
    display: block;
    transform: translate(-50%,-50%);
    background-image: url(../image/loading.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 40px;
    height: 40px;
    left: 50%;
    top: 50%;
    z-index: 3;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0%{
        transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-50%,-50%) rotateZ(360deg);
    }
}