.vu-scroll_container{
    display: inline-block;
    width: 500px;
    height: 400px;
    overflow: auto;
}
.vu-scroll_container::-webkit-scrollbar {
    background-color: #DCDFE6;
    border-radius: 100px;
    width: 10px;
}
.vu-scroll_container::-webkit-scrollbar-thumb {
    background-color: rgba($color: #e44258, $alpha: 0.8);
    border-radius: 100px;
}
.vu-scroll_container.noScroll::-webkit-scrollbar {
    display: none;
}