.vu-select_container {
    display: inline-block;
    position: relative;
    height: 40px;
    width: 200px;
    .show-text {
        background-color: #fff;
        border-radius: 4px;
        border: 1px solid #dcdfe6;
        box-sizing: border-box;
        color: #606266;
        display: inline-block;
        font-size: 16px;
        text-align: left;
        height: 100%;
        outline: none;
        padding: 0 15px;
        transition: all ease 0.2s;
        flex: 1;
        width: 100%;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis; 
        white-space: nowrap;
    }
    .show-text:focus{
        border: 1px solid #E44258;
    }
    
    .options {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        border-radius: 4px;
        background-color: #fff;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
        margin: 5px 0;
        max-height: 170px;
        position: absolute;
        z-index: 2;
        left: 0;
        top: 100%;
        height: 50px;
        transition: all ease 0.3s;

        .options-list {
            line-height: 34px;
            text-align: left;
            padding-left: 15px;
            width: 100%;
            overflow: hidden;
            color: #606266;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
        }
        .options-list.active{
            background-color: #E44258 !important;
            color: white !important;
        }
        .options-list:hover {
            background-color: #F5F7FA;
        }
    }
    .options::-webkit-scrollbar {
        width: 6px;
    }
    .options::-webkit-scrollbar-thumb {
        background-color: rgba($color: #E44258, $alpha: 0.8);
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        border-radius: 100px;
    }

    .delete-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background-color: #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #606266;
        cursor: pointer;
        user-select: none;
        font-family: fangsong;
        font-weight: 600;
        font-size: 12px;
    }

    .arrow-btn {
        position: absolute;
        right: 10px;
        top: 50%;
        height: 15px;
        width: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%) rotateZ(90deg);
        color: #dcdfe6;
        cursor: pointer;
        user-select: none;
        font-family: fangsong;
        font-weight: 600;
        font-size: 14px;
        transition: all ease 0.2s;
        pointer-events: none;
    }
    .arrow-btn.active{
        transform: translateY(-50%) rotateZ(270deg);
    }
}
