.vu-switch_container{
    display: inline-block;
    .flex{
        display: flex;
        .text{
            font-size: 15px;
            color: #606266;
        }
        .switch{
            width: 40px;
            height: 20px;
            cursor: pointer;
            border-radius: 100px;
            display: flex;
            transition: all ease 0.3s;
            align-items: center;
            .span{
                flex: 1;
                transition: all ease 0.3s;
            }
            .icon{
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background-color: white;
                margin: 2px;
                transition: all ease 0.3s;
            }
        }
    }
}